* {
    box-sizing: border-box;
}

body {
    background: #dfc21edc;
}

h1 {
    font-size: 36px;
    font-style: italic;
    text-decoration: underline;
}

section {
    display: flex;
    margin: 20px;
}

.div-1 {
    width: 293px;
    height: 228px;
    border-radius: 20px;
    background-color: #202020;
    font-size: 36px;
    color: white;
    text-align: center;
    padding-top: 90px;
    margin: 20px;
}

.div-2 {
    width: 228px;
    height: 228px;
    border-radius: 200px;
    background-color: white;
    font-size: 36px;
    color: black;
    text-align: center;
    padding-top: 90px;
    margin-left: 20px; 
}

.div-3 {
    width: 228px;
    height: 228px;
    border-radius: 200px;
    background-color: white;
    font-size: 36px;
    color: black;
    text-align: center;
    padding-top: 90px;
    margin-left: 105px; 
}